


.product-details-container {
    /* background-image: url('https://s-media-cache-ak0.pinimg.com/originals/a1/4d/e0/a14de021c4fa8049d2d798d5b98d7419.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: white;
    padding: 20px;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Flex direction as column */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
}

/* Media query for small screens (e.g. phones) */
@media (max-width: 600px) {
    .product-details-container {
        padding: 10px; /* Reduce padding for smaller screens */
        justify-content: flex-start; /* Adjust vertical alignment */
        align-items: flex-start; /* Adjust horizontal alignment */
    }
}

/* Media query for medium screens (e.g. tablets) */
@media (min-width: 601px) and (max-width: 900px) {
    .product-details-container {
        padding: 15px; /* Moderate padding for medium screens */
    }
}

/* Media query for large screens (e.g. desktops) */
@media (min-width: 901px) {
    .product-details-container {
        padding: 20px; /* Default padding for large screens */
    }
}





